body {
    text-align: center;
    font-family: Arial;
    background-image: url(https://w0.peakpx.com/wallpaper/912/4/HD-wallpaper-starry-black-sky-indie.jpg);
    background-size: 100%;
    color: aqua;
}
.card {
    border: solid blue 1px;
    border-radius: 20px;
    gap: 15px;
    background-color: transparent;
    font-weight: bold;
}
img {
    width: 15vw;
    height: 15vh;
}
